.dark-mode{
    background-color: darken($color: $grisOscuro, $amount: 10);

    p, a{
        color: $blanco;
    }

    fieldset p{
        color: $blanco;
    }

    h1, h2, h3, h4{
        color: $verde;
    }

    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        box-shadow: .7rem .7rem 1rem .2rem rgba(255, 255, 255, 0.1);
    }

    label{
        color: $verde;
    }

    fieldset legend{
        color: royalblue;
    }

}