/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin  boton($color, $display) {
    background-color: $color;
    color: $blanco;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: $separacion / 2;
    border-radius: .5rem;
    display: $display;
    text-align: center;
    border: none;
    box-shadow: .3rem .3rem .5rem 0rem rgba(0, 0, 0, .5);
    transition: all .3s;

    &:hover{
        background-color: darken($color: $amarillo, $amount: 3);
        box-shadow: .5rem .5rem .5rem 0rem rgba(0, 0, 0, .5);
        cursor: pointer;
    }
}